@mixin d-flex-1 {
	display: flex;
	flex: 1;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-center-column {
	@include flex-center;
	flex-direction: column;
}

@mixin flex-center-vert {
	display: flex;
	align-items: center;
}

@mixin flex-center-horiz($justify: center) {
	display: flex;
	justify-content: $justify;
}

@mixin flex-center-justify($justify: center) {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: $justify;
}
